
body{
	font-family: 'open sans', sans-serif;
	background: #fff;
	color: #999;
	margin: 0;
	padding: 0;
}
a{
	
	text-decoration: none;
}

/*** Heading***/
#logo{
	text-align: center;
	margin: 0;
}
header{
	background: #6ab47b;
	border-color: #599a68;
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
	position:fixed; top:0; left:0;
}
h2{
	font-size: 0.75em;
	margin: -5px 0 0;
	color: #fff;
	font-weight: normal;
}
h1{
	font-family:'changa one', sans-serif;
	margin: 15px o;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}

h3{
	display: block;
	margin: 0 0 1em 0;
	clear: both;
	color: #333;
}
nav{
	background: #599a68;
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}
nav ul{
	list-style: none;
	margin: 10px;
	padding: 0;
}
nav li{
	display: inline-block;
}

nav a{
	font-weight: 800;
	padding: 15px 10px;
	color: #fff;
} 
nav a:visited{
	color: #fff;
}
nav a.selected, nav a:hover{
	color: #32673f;
}

/**Section**/
#wrapper{
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	display:block;	 
}
 /* .sblock{
	margin: 0 0 30px 0;
	border: 1px solid black;
	clear: both;
} */
img{
	max-width:100%;
}
#gallery, #languages, #recent{
	margin: 0;
	padding: 0;
	list-style: none;
}
#gallery li, #languages li, #recent li{
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #f5f5f5;
	color: #bdc3c7;
}
#recent li{
	height: 200px;
}
#gallery li:hover, #languages li:hover, #recent li:hover{
	background: rgba(256,256,256, 0.7);
	border-radius:5px;
	
}
 #gallery li:nth-child(3n){
	clear: left;
}
#gallery li a p, #languages li a p, #recent li a p{
	margin: 0;
	padding: 5%;
	font-size: 14px;
	color: #555;
}
#languages li a p:hover{
	color:#000;
}
li#eye:hover{background: rgba(92,184,92, 0.7);color: #fff;}
li#eye p:hover{color: #fff;}
/**Adding page overlay to the pictures**/
#overlay{
	background: rgba(204,204,204, 0.7);
	display:none;
	width:100%;
	height: 200%;
	position:absolute;
	top:0;
	left:0;
	text-align:center;
}
#overlay img{
	width: 50%;
	margin-top: 20%;
}
#overlay p{
	color: #333;
}

#experience{
	margin: 60px auto;
}
#experience table{
	width:100%;
	text-align:center;
	border:1px solid #ccc;
	background:#fbfbfb;
	color:#333;
	font-size:15px;
	padding:10px;
	border-collapse: separate !important;	
	border-radius:10px ;
}	
#experience table tr:hover{
	background:#00bfff;
	color:#fff;	
	box-shadow:0 2px #000bff;
	border-radius:10px ;	
}
#experience table thead{
	border-bottom:1px solid #ccc;
}
#experience table th, #experience table td{
	padding:15px 0;
	border-bottom: 1px solid #ccc;
}
/**Page About**/
.profile-photo{
	display: block;
	max-width: 150px;
	margin: 0 auto 30px;
	border-radius: 100%;
}
/**page contact**/
.contact-info{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}
.contact-info a{
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
	color: #999;
}
.contact-info li.phone a{
	background-image: url('../img/phone.png');
}
.contact-info li.mail a{
	background-image: url('../img/mail.png');
}
.contact-info li.twitter a{
	background-image: url('../img/twitter.png');
}

/**Footer**/
footer{
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #333;
}
.social-icon{
	width: 20px;
	height: 20px;
	margin: 0 5px;
}