@media screen and (min-width: 750px){
	body{
		background: #eee;
		padding-top:200px
	}	
	#experience table{
		background: #fff;
	}
	/*** THREE COLUMN LAYOUT ***/
	#gallery li{
		width: 28.3333%;
	}
	#gallery li:nth-child(4n){
		clear: left;	
	}
	/** Four column layout */
	#languages li, #recent li{
		width: 20%;
	}
	
	/* correcting float*/
	#languages li:nth-child(3n), #gallery li:nth-child(3n), #gallery li:nth-child(5n){
		clear: none;
	}
	/*** Floating the profile photo to the left ***/
	.profile-photo{
		float: left;
		margin: 0 5% 80px 0;
	}
	/*** TWO COLUMN LAYOUT FOR CONTACT ***/
	#primary{
		width: 40%;
		float: right;
		
	}
	#secondary{
		width: 50%;
		float: left;
	}
	footer.footer{
		position:absolute; bottom:2%; left:35%;
	}
	div#pix{
		width:30%;
		float:left;
		display:block;
	}	
	#abtword{
		
		width:70%;
		float:left;
	}
}

@media screen and (min-width: 970px){
	body{
		background: #f5f5f5;
		padding-top: 170px
	}
	/*** FOUR COLUMN LAYOUT ***/
	#wrapper{
		max-width: 1200px;
	}
	#languages li{
		width: 15%;
	}
	#languages li:nth-child(5n){
		clear: none;	
	}
	#languages li:nth-child(6n){
		clear: left;
	}
	#gallery li{
		width: 20%;
	}
	#gallery li:nth-child(4n){
		clear: none;	
	}
	#gallery li:nth-child(5n){
		clear: left;	
	}
	nav{
		background: none;
		float: right;
		font-size: 1.125em;
		margin-right: 5%;
		text-align: right;
		width: 45%;
	}
	#logo{
		float: left;
		margin-left: 5%;
		text-align: left;
		width: 45%; 
	}
	h1{
		font-size: 2.5em;
	}
	h2{
		font-size: 0.825em;
		margin-bottom: 20px;
	}
	header{
		border-bottom: 5px solid #599a68;
		margin-bottom: 40px;
	}
	div#pix{
		width:18%;
	}	
	div#abtword{
		padding-top:2rem;
		width:80%;
	}
	footer.footer{
		left:40%;
	}
}

@media screen and (max-width: 450px){
	body{
		padding-top: 200px;
	}
	div#abtword{
		padding-top:10rem;
		width:80%;
	}
	
}